<!DOCTYPE html>
<html lang="ja" data-theme="light">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    
    {{ partial "head-css-js.html" . }} {{/* CSS変数とTailwind設定を読み込み */}}

    {{ block "head" . }}{{ end }} {{/* 個別ページでの追加要素を許容 */}}
</head>
<body class="bg-bg-base text-fg-base min-h-screen">
    <div id="wrapper" class="flex flex-col md:flex-row max-w-7xl mx-auto md:space-x-8 p-4">

        {{ partial "sidebar.html" . }} {{/* PC用のサイドバーとモバイルメニュー */}}
        
        <main id="content" class="flex-grow w-full md:w-3/4">
            {{ block "main" . }}{{ end }} {{/* ここに index.html, single.html のコンテンツが入ります */}}
        </main>

    </div>
    
    {{ partial "footer.html" . }}

    {{ block "footer_js" . }}
        {{ partial "theme-switcher-js.html" . }} {{/* ダークモード切り替えJSを読み込み */}}
    {{ end }}
</body>
</html>