@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap');
:root {
    --base-font-family: 'Murecho', sans-serif;
}
body {
    font-family: var(--base-font-family);
}   